@import "./functions";

// === table of content ===
// 1- General styles
// 2- Typography
// 3- JSclasses
// 3- Animations
// 4- Buttons
// 5- Mobile style
// 6- Media queries (Desktop style)

// === General styles ===

:root {
  --clr--gradient-1: hsl(236, 72%, 79%);
  --clr--gradient-2: hsl(237, 63%, 64%);
  --clr--bg-color: hsl(240, 78%, 98%);
  --clr--fade-text: hsl(234, 14%, 74%);
  --clr--fade: hsl(233, 13%, 49%);
  --clr--text: hsl(232, 13%, 33%);
  --clr--prices: hsl(232, 13%, 33%);

  // transitions

  --trs--slide: all 150ms linear;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: var(--clr--bg-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
p,
h3,
span {
  &::selection {
    background: var(--clr--gradient-2);
    color: white;
  }
}

// === Typography ===

h1 {
  color: var(--clr--prices);
}

h2 {
  color: transparent;
}

h3 {
  color: var(--clr--text);
}
// === JSclasses ===

.fade {
  p {
    color: var(--clr--fade-text) !important;
  }
}

.transparent--pro {
  background: transparent !important;
  border: 1px solid #fff;
  h2 {
    color: white !important;
  }
}

.transparent {
  background: white !important;
  border: 1px solid var(--clr--gradient-2);
  h2 {
    color: var(--clr--gradient-2) !important;
  }
}

// === Animations ===

@keyframes transition {
}

// === Buttons ===

button {
  all: unset;

  width: 100%;

  background: linear-gradient(
    to right,
    var(--clr--gradient-1),
    var(--clr--gradient-2)
  );

  border-radius: 5px;

  text-align: center;

  padding-block: 0.8rem;

  font: inherit;

  transition: var(--trs--slide) !important;

  &:hover {
    transform: translatey(-5px);
  }

  cursor: pointer;
}

// === Mobile style ===

.wrapper {
  overflow: hidden;

  background: var(--clr--bg-color);

  padding-inline: 10%;
  padding-block: 3rem;

  z-index: 0;
  position: relative;

  @include flex(column, center, stretch);
  gap: 4.5rem;
}

.bg__image {
  position: absolute;

  z-index: -1;
}

.bg__image--top {
  right: -175px;
  top: -40px;
}
.bg__image--bottom {
  bottom: -10px;

  left: -100px;
}

.pricing {
  text-align: center;
}

.pricing__title--modify {
  h1 {
    color: var(--clr--fade);
    font-size: 1.7rem;
  }
}

.pricing__date {
  @include flex(row, center, center);
  gap: 1.5rem;

  margin-top: 2rem;
}

.toggle__container {
  width: 4rem;
  height: 2rem;

  padding-inline: 0.25rem;

  border-radius: 500px;
  background: linear-gradient(
    to right,
    var(--clr--gradient-1),
    var(--clr--gradient-2)
  );

  @include center(row);
}

.toggle__circle {
  border-radius: 50%;
  aspect-ratio: 1;

  background: #fff;

  width: 1.625rem;

  margin-left: 50%;

  transition: var(--trs--slide);
}

.pricing__text {
  p {
    color: var(--clr--gradient-2);
    font-size: 0.8rem;
  }
}

.cards {
  @include flex(column, center, center);
  gap: 1rem;
}

.card {
  max-width: 360px;

  @include center(column);
  gap: 2rem;
  text-align: center;

  background: #fff;
  width: 100%;
  border-radius: 10px;

  padding-inline: 1.5rem;
  padding-block: 2rem;
}

.card--pro {
  background: linear-gradient(
    to bottom,
    var(--clr--gradient-1),
    var(--clr--gradient-2)
  );

  p,
  h1,
  .card__title h2 {
    color: #fff !important;
  }

  button {
    h2 {
      color: var(--clr--gradient-2);
    }
    background: #fff;
  }
  h1,
  h2,
  p,
  h3,
  span {
    &::selection {
      background: #fff;
      color: var(--clr--gradient-2);
    }
  }
}

.card__heading {
  @include flex(column, center, center);
  gap: 1rem;
}

.card__title {
  h2 {
    color: var(--clr--fade);
    font-size: 1rem;
  }
}

.card__price {
  h1 {
    font-size: 4rem;
  }

  span {
    display: inline-block;

    transform: translateY(-25%);
    font-size: 2rem;
  }
}
.card__features {
  align-self: stretch;
}
.card__feature {
  border-top: 1px solid var(--clr--fade-text);
  padding: 1rem;

  P {
    color: var(--clr--fade);
    font-size: 0.8rem;
  }
}
.card__feature:last-child {
  border-bottom: 1px solid var(--clr--fade-text);
}

.card__btn {
  @include center(row);

  align-self: stretch;

  h2 {
    color: #fff;

    letter-spacing: 0.1rem;

    font-size: 0.8rem;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    max-width: 1920px;
    height: 100%;
    gap: calc(min(5vh, 4.5rem));
  }

  .cards {
    flex-direction: row;
    gap: unset;
  }

  .card--pro {
    padding-block: 4rem;
  }
}
